[defaults]
inventory = ./inventory.yml
collections_path = ./collections:~/.ansible/collections:/usr/share/ansible/collections
roles_path = ./roles
force_color = True
deprecation_warnings = False
interpreter_python = auto_silent
