$schema: {{ as3_schema_url }}
class: AS3
declaration:
    class: ADC
    schemaVersion: {{ as3_schema_version }}
    id: declaration-{{ inventory_hostname }}
    updateMode: {{ as3_update_mode }}
{% set tenant_declaration = tenants | default({}) %}
{% if global is defined and global.tenants is defined and global.tenants is not none %}
{%     set tenant_declaration = global.tenants | combine(tenant_declaration, recursive=True, list_merge='append_rp') %}
{% endif %}
{% if tenant_declaration is defined and tenant_declaration is not none %}
{%     for tenant in tenant_declaration %}
{%         if tenant_declaration[tenant].apps is defined and tenant_declaration[tenant].apps | length > 0 %}
    {{ tenant }}:
        class: Tenant
{%             for app in tenant_declaration[tenant].apps | sort %}
        {{ app }}:
            class: Application
{%                 set app_vars = hostvars[inventory_hostname][app]%}
{%                 filter indent(width=12, first=True) %}
{%                     include 'app/templates/' ~ app_vars.type ~ '.j2' %}
{%                 endfilter %}
{%             endfor %}
{%         endif %}
{%     endfor %}
{% endif %}
{% set common_declaration = common | default({}) %}
{% if global is defined and global.common is defined and global.common is not none %}
{%     set common_declaration = global.common | combine(common_declaration, recursive=True, list_merge='append_rp') %}
{% endif %}
{% if common_declaration is defined and common_declaration is not none and common_declaration.objects is defined and common_declaration.objects | length > 0 %}
    Common:
        class: Tenant
        Shared:
            class: Application
            template: shared
{%     for object in common_declaration.objects | sort %}
{%         with vars = hostvars[inventory_hostname][object] %}
{%             filter indent(width=12, first=True) %}
{%                 include 'app/objects/' ~ vars.object ~ '.j2' %}
{%             endfilter %}
{%         endwith %}
{%     endfor %}
{% endif %}
